div.home    
    div.home-menu
        div.home-menu-item.about 
            a(href="#") О нас
        div.home-menu-item.contact 
            a(href="#") Контакты
        div.home-menu-item.photo 
            a(href="#") Фото
    div.home-text
        p.home-text-novgrod Компания "НовГрод"....
        p.home-text-text Мы специализируемся на производстве изделий из древесины, создавая сегодня от мелких изделий интерьера и заканчивая полностью готовыми многоэтажными домами.  
    div.home-read
        div.home-read-read
            span.home-read-plus.fas.fa-bullseye
            span.home-read-text Read more  
        div.home-read-line 
        div.home-read-language    
            span русский
            span.fas.fa-angle-up

