div.section_5
    include .././_mixin.pug
    div.section_5-photo
        div.section_5-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_4.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
        div.section_5-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_4.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
        div.section_5-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_4.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN") 
               