div.section_4
    include .././_mixin.pug
    div.section_4-home
        span На главную >
    div.section_4-photo
        div.section_4-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
        div.section_4-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
        div.section_4-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
        div.section_4-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")
        div.section_4-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")    
        div.section_4-photo-row
            +photoBig("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_1.png", "besedka", "100 BYN")
            +photoBig("./assets/bessedka_2.png", "besedka", "100 BYN")
            +photoSmall("./assets/bessedka_3.png", "besedka", "100 BYN")   
         
               