div.section_3
    div.section_3-contacts
        div.section_3-contacts-tel Телефоны: (+375 15) 275-28-83 — телефон (+375 15) 275-28-83 — факс 
        div.section_3-contacts-email Электронная почта: info@novgrod.by 
        div.section_3-contacts-adress Адрес: Республика Беларусь,г. Гродно, ул.Подольная 8б 
        div.section_3-contacts-line Перейти в фотогалерею >>> 
        div.section_3-contacts-home Вернуться на главную >
