.home 
    position: absolute
.home-menu
    position: fixed
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    top: 50px
    right: 20px
    &-item
        transform: rotate(270deg) 
        margin: 25px
        &> a 
            text-decoration: none
            color: #eaedf2
            font-style: bold
            font-size: 15px
            transition: 1s
            &:hover
                color: #1dd6f2
.home-text
    position: fixed
    bottom: 90px
    left: 3%   
    width: 30%
    &-novgrod
        font-family: "ff-tisa-web-pro",serif
        font-style: italic
    &-text
        font-family: sans-serif
        font-size: 22px
        font-style: italic
        line-height: 1.2
        color: inherit
.home-read
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position: fixed
    bottom: 5%
    left: 3% 
    &-read     
        cursor: pointer
        transition: 0.3s 
        margin-right: 10px
        &:hover
            transform: scale(1.1, 1.1)
    &-line > hr
        width: 1200px
        height: 5px
        align: center
        color: white  
    &-text 
        margin-left: 10px
        margin-bottom: 15px 
    &-language 
        color: grey
        transition: 0.3s
        cursor: pointer
        position: fixed
        bottom: 5%
        right: 3%
        &> span
            margin-left: 10px 
        &:hover
            color: white
              

