.back {
  z-index: 1; }

.backgr {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute; }

p {
  z-index: 10; }

.home-menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  .home-menu-item {
    margin: 25px;
    transform: rotate(270deg);
    position: relative;
    top: 40px;
    left: 46%; }
    .home-menu-item > a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 13px;
      transition: 1s; }
      .home-menu-item > a:hover {
        color: #1dd6f2; }

.home-text {
  position: absolute;
  bottom: 90px;
  left: 3%;
  width: 30%; }
  .home-text-novgrod {
    font-family: "ff-tisa-web-pro",serif;
    font-style: italic; }
  .home-text-text {
    font-family: sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 1.2;
    color: inherit; }

.home-read {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 3%; }
  .home-read-read {
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px; }
    .home-read-read:hover {
      transform: scale(1.1, 1.1); }
  .home-read-line > hr {
    width: 1200px;
    height: 5px;
    align: center;
    color: white; }
  .home-read-text {
    margin-left: 10px;
    margin-bottom: 15px; }
  .home-read-language {
    color: grey;
    transition: 0.3s;
    cursor: pointer; }
    .home-read-language > span {
      margin-left: 10px; }
    .home-read-language:hover {
      color: white; }

body {
  overflow: hidden;
  font-family: 'Graphik Regular',sans-serif;
  background: url("/assets/home.jpg") no-repeat;
  background-size: cover;
  color: white; }
