doctype html
html
    head
        meta(charset="UTF-8")
        title Novgrod
        link(href="https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico|Russo+One|Yanone+Kaffeesatz" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="/libs/bootstrap/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="/style/main.css")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    body
        div.content
            block fixed
            block section_1
            block section_2
            block section_3
            block section_4
            block section_5
        script(src="/libs/jquery/jquery.js")
        script(src="/libs/bootstrap/bootstrap.js")
        script(src="/js/main.js")
        script(src="/js/component/section_1.js")
        script(src="/js/component/section_2.js")
        script(src="/js/component/section_3.js")
        script(src="/js/component/section_4.js")
        
      
        