extends ./_template.pug
block fixed
    include ./component/_menu.pug
block section_1
    include ./component/_section_1.pug
block section_2
    include ./component/_section_2.pug
block section_3
    include ./component/_section_3.pug
block section_4
    include ./component/_section_4.pug
  

